#loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background:rgb(26, 158, 92);
    z-index: 999;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#spinner {
    animation: rotate 0.56s infinite linear;
    width:50px;
    height:50px;
    border:12px solid #fff;
    border-bottom:12px solid rgb(26, 158, 92);
    border-radius:50%;
    margin:0;
}
@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

#box {
    width:100vw;
    height:100vh;
    z-index:9;
    position:fixed;
    top:0;
}
#box div {
    width:16.66vw;
    height:100%;
    display:inline-block;
}
.box1 {
    background:rrgb(26, 158, 92);
}
.box2 {
    background:rgb(26, 158, 92);
    margin-left:-5px;
}

#robot {
    max-width: 40vw;
    max-height: 70vh;
    margin: 0 auto;
}

#body {
    -webkit-animation: hover 1.1s ease-in-out 0s infinite alternate;
    animation: hover 1.1s ease-in-out 0s infinite alternate;
}

#head {
    -webkit-animation: hover 1.1s ease-in-out 0.05s infinite alternate;
    animation: hover 1.1s ease-in-out 0.05s infinite alternate;
}

#arms {
    -webkit-animation: hover 1.1s ease-in-out 0.1s infinite alternate;
    animation: hover 1.1s ease-in-out 0.1s infinite alternate;
}

#left_arm {
    -webkit-transform-origin: center right;
    transform-origin: center right;
    -webkit-animation: arms_bounce_left 1.1s ease-in-out 0s infinite alternate;
    animation: arms_bounce_left 1.1s ease-in-out 0s infinite alternate;
}

#right_arm {
    -webkit-transform-origin: center left;
    transform-origin: center left;
    -webkit-animation: arms_bounce_right 1.1s ease-in-out 0s infinite alternate;
    animation: arms_bounce_right 1.1s ease-in-out 0s infinite alternate;
}

#eyes ellipse {
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation: eyes_blink 2s ease-out 0s infinite alternate;
    animation: eyes_blink 2s ease-out 0s infinite alternate;
}

#shadow {
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation: shadow 1.1s ease-in-out 0s infinite alternate;
    animation: shadow 1.1s ease-in-out 0s infinite alternate;
}

@-webkit-keyframes hover {
    0% {
        -webkit-transform: translate3d(0, 80px, 0);
        transform: translate3d(0, 80px, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 30px, 0);
        transform: translate3d(0, 30px, 0);
    }
}

@keyframes hover {
    0% {
        -webkit-transform: translate3d(0, 80px, 0);
        transform: translate3d(0, 80px, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 30px, 0);
        transform: translate3d(0, 30px, 0);
    }
}

@-webkit-keyframes shadow {
    0% {
        -webkit-transform: translate3d(0, 0, 0) scale(1.5, 1.2);
        transform: translate3d(0, 0, 0) scale(1.5, 1.2);
        opacity: 0.4;
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
        transform: translate3d(0, 0, 0) scale(1, 1);
        opacity: 0.2;
    }
}

@keyframes shadow {
    0% {
        -webkit-transform: translate3d(0, 0, 0) scale(1.5, 1.2);
        transform: translate3d(0, 0, 0) scale(1.5, 1.2);
        opacity: 0.4;
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
        transform: translate3d(0, 0, 0) scale(1, 1);
        opacity: 0.2;
    }
}

@-webkit-keyframes arms_bounce_left {
    0% {
        -webkit-transform: translate3d(0, 80px, 0) rotate(0deg);
        transform: translate3d(0, 80px, 0) rotate(0deg);
    }

    100% {
        -webkit-transform: translate3d(0, 30px, 0) rotate(-10deg);
        transform: translate3d(0, 30px, 0) rotate(-10deg);
    }
}

@keyframes arms_bounce_left {
    0% {
        -webkit-transform: translate3d(0, 80px, 0) rotate(0deg);
        transform: translate3d(0, 80px, 0) rotate(0deg);
    }

    100% {
        -webkit-transform: translate3d(0, 30px, 0) rotate(-10deg);
        transform: translate3d(0, 30px, 0) rotate(-10deg);
    }
}

@-webkit-keyframes arms_bounce_right {
    0% {
        -webkit-transform: translate3d(0, 80px, 0) rotate(0deg);
        transform: translate3d(0, 80px, 0) rotate(0deg);
    }

    100% {
        -webkit-transform: translate3d(0, 30px, 0) rotate(10deg);
        transform: translate3d(0, 30px, 0) rotate(10deg);
    }
}

@keyframes arms_bounce_right {
    0% {
        -webkit-transform: translate3d(0, 80px, 0) rotate(0deg);
        transform: translate3d(0, 80px, 0) rotate(0deg);
    }

    100% {
        -webkit-transform: translate3d(0, 30px, 0) rotate(10deg);
        transform: translate3d(0, 30px, 0) rotate(10deg);
    }
}

@-webkit-keyframes eyes_blink {
    0% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }

    90% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }

    95% {
        -webkit-transform: scale(0.8, 0);
        transform: scale(0.8, 0);
    }

    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@keyframes eyes_blink {
    0% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }

    90% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }

    95% {
        -webkit-transform: scale(0.8, 0);
        transform: scale(0.8, 0);
    }

    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

#card1 {
    border-radius: 15px;
    background: url(https://images.unsplash.com/photo-1558591710-4b4a1ae0f04d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80) no-repeat;
    background-size: cover;
}