#robot {
    max-width: 35vw;
    max-height: 60vh;
    margin: 0 auto;
  }
  
  #body {
    -webkit-animation: hover 1.1s ease-in-out 0s infinite alternate;
            animation: hover 1.1s ease-in-out 0s infinite alternate;
  }
  
  #head {
    -webkit-animation: hover 1.1s ease-in-out 0.05s infinite alternate;
            animation: hover 1.1s ease-in-out 0.05s infinite alternate;
  }
  
  #arms {
    -webkit-animation: hover 1.1s ease-in-out 0.1s infinite alternate;
            animation: hover 1.1s ease-in-out 0.1s infinite alternate;
  }
  
  #left_arm {
    -webkit-transform-origin: center right;
            transform-origin: center right;
    -webkit-animation: arms_bounce_left 1.1s ease-in-out 0s infinite alternate;
            animation: arms_bounce_left 1.1s ease-in-out 0s infinite alternate;
  }
  
  #right_arm {
    -webkit-transform-origin: center left;
            transform-origin: center left;
    -webkit-animation: arms_bounce_right 1.1s ease-in-out 0s infinite alternate;
            animation: arms_bounce_right 1.1s ease-in-out 0s infinite alternate;
  }
  
  #eyes ellipse {
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation: eyes_blink 2s ease-out 0s infinite alternate;
            animation: eyes_blink 2s ease-out 0s infinite alternate;
  }
  
  #shadow {
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation: shadow 1.1s ease-in-out 0s infinite alternate;
            animation: shadow 1.1s ease-in-out 0s infinite alternate;
  }
  
  @-webkit-keyframes hover {
    0% {
      -webkit-transform: translate3d(0, 80px, 0);
              transform: translate3d(0, 80px, 0);
    }
    100% {
      -webkit-transform: translate3d(0, 30px, 0);
              transform: translate3d(0, 30px, 0);
    }
  }
  
  @keyframes hover {
    0% {
      -webkit-transform: translate3d(0, 80px, 0);
              transform: translate3d(0, 80px, 0);
    }
    100% {
      -webkit-transform: translate3d(0, 30px, 0);
              transform: translate3d(0, 30px, 0);
    }
  }
  @-webkit-keyframes shadow {
    0% {
      -webkit-transform: translate3d(0, 0, 0) scale(1.5, 1.2);
              transform: translate3d(0, 0, 0) scale(1.5, 1.2);
      opacity: 0.4;
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
              transform: translate3d(0, 0, 0) scale(1, 1);
      opacity: 0.2;
    }
  }
  @keyframes shadow {
    0% {
      -webkit-transform: translate3d(0, 0, 0) scale(1.5, 1.2);
              transform: translate3d(0, 0, 0) scale(1.5, 1.2);
      opacity: 0.4;
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
              transform: translate3d(0, 0, 0) scale(1, 1);
      opacity: 0.2;
    }
  }
  @-webkit-keyframes arms_bounce_left {
    0% {
      -webkit-transform: translate3d(0, 80px, 0) rotate(0deg);
              transform: translate3d(0, 80px, 0) rotate(0deg);
    }
    100% {
      -webkit-transform: translate3d(0, 30px, 0) rotate(-10deg);
              transform: translate3d(0, 30px, 0) rotate(-10deg);
    }
  }
  @keyframes arms_bounce_left {
    0% {
      -webkit-transform: translate3d(0, 80px, 0) rotate(0deg);
              transform: translate3d(0, 80px, 0) rotate(0deg);
    }
    100% {
      -webkit-transform: translate3d(0, 30px, 0) rotate(-10deg);
              transform: translate3d(0, 30px, 0) rotate(-10deg);
    }
  }
  @-webkit-keyframes arms_bounce_right {
    0% {
      -webkit-transform: translate3d(0, 80px, 0) rotate(0deg);
              transform: translate3d(0, 80px, 0) rotate(0deg);
    }
    100% {
      -webkit-transform: translate3d(0, 30px, 0) rotate(10deg);
              transform: translate3d(0, 30px, 0) rotate(10deg);
    }
  }
  @keyframes arms_bounce_right {
    0% {
      -webkit-transform: translate3d(0, 80px, 0) rotate(0deg);
              transform: translate3d(0, 80px, 0) rotate(0deg);
    }
    100% {
      -webkit-transform: translate3d(0, 30px, 0) rotate(10deg);
              transform: translate3d(0, 30px, 0) rotate(10deg);
    }
  }
  @-webkit-keyframes eyes_blink {
    0% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
    }
    90% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
    }
    95% {
      -webkit-transform: scale(0.8, 0);
              transform: scale(0.8, 0);
    }
    100% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
    }
  }
  @keyframes eyes_blink {
    0% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
    }
    90% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
    }
    95% {
      -webkit-transform: scale(0.8, 0);
              transform: scale(0.8, 0);
    }
    100% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
    }
  }


  .font--robotoslab {
    font-family: 'Roboto Slab', Georgia, serif;
    font-weight: 700;
  }
  
  .font--roboto {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 400;
  }
  
  .font--lobster {
    font-family: 'Lobster', cursive;
    font-weight: 400;
  }
  
  .font--cabin {
    font-family: 'Cabin', Arial, sans-serif;
    font-weight: 400;
  }
  
  .font--eczar {
    font-family: 'Eczar', Georgia, serif;
    font-weight: 700;
  }
  
  .font--gentium {
    font-family: 'Gentium Basic', Georgia, serif;
    font-weight: 400;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .slider h1 {
    font-size: 3.5em;
    margin: 0;
    font-weight: normal;
  }
  
  .slider h2 {
    font-size: 3em;
    margin: 0;
    font-weight: normal;
  }
  
  .slider h3 {
    font-size: 2.5em;
    margin: 0;
    font-weight: normal;
  }
  
  .slider h4 {
    font-size: 2.125em;
    margin: 0;
    font-weight: normal;
  }
  
  .slider h5 {
    font-size: 1.75em;
    margin: 0;
    font-weight: normal;
  }
  
  .slider h6 {
    font-size: 1.25em;
    margin: 0;
    font-weight: normal;
  }
  
  .bx-viewport {
    overflow: visible !important;
  }
  
  .bx-pager {
    margin-top: 20px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
  }
  
  .bx-wrapper .bx-pager.bx-default-pager a {
    background: #666;
    text-indent: -9999px;
    display: block;
    width: 15px;
    height: 15px;
    margin: 0 10px;
    outline: 0;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  }
  
  .bx-wrapper .bx-pager.bx-default-pager a:hover,
  .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: rgba(0, 0, 0, 0.7);
  }
  
  .full-card {
    margin: 0 auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
            align-items: stretch;
    padding: 60px;
    height: 80vh;
    max-height: 600px;
    background: white;
    width: 90%;
    max-width: 1300px;
  }
  
  .font-card {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: end;
            justify-content: flex-end;
    background: linear-gradient(45deg, #9fbee6 0%, #dfeaee 100%);
    padding: 20px 20px;
    color: white;
    margin: 0 15px;
    text-align: center;
    box-shadow: 0 15px 20px -15px rgba(0, 0, 0, 0.3), 0 55px 50px -35px rgba(0, 0, 0, 0.3);
    -webkit-transition: box-shadow 0.3s, -webkit-transform 0.3s;
    transition: box-shadow 0.3s, -webkit-transform 0.3s;
    transition: box-shadow 0.3s, transform 0.3s;
    transition: box-shadow 0.3s, transform 0.3s, -webkit-transform 0.3s;
    -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
  }
  .font-card.hovered-card {
    box-shadow: 0 5px 3px -5px rgba(0, 0, 0, 0.3), 0 2px 8px -5px rgba(0, 0, 0, 0.3);
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  .font-card p {
    line-height: 1.4;
  }
  
  
  @media screen and (max-width: 991px) {
    .full-card {
      height: auto;
      flex-wrap: wrap;
      padding: 30px 60px;
    }
  
    .font-card {
      width: calc(50% - 30px);
    }
  
    .font-description {
      width: 100%;
    }
  }
  .robotoslab-card {
    background: url(https://res.cloudinary.com/dqj168cdc/image/upload/v1480286526/Roboto-slab-image_mtwren.jpg) no-repeat center center;
    background-size: cover;
  }
  
  .roboto-card {
    background: url(https://res.cloudinary.com/dqj168cdc/image/upload/v1480287191/robot-image_iai6lv.jpg) no-repeat center center;
    background-size: cover;
  }
  
  .lobster-card {
    background: url(https://res.cloudinary.com/dqj168cdc/image/upload/v1480349796/lobster-image_pznrao.jpg) no-repeat center center;
    background-size: cover;
  }
  
  .cabin-card {
    background: url(https://res.cloudinary.com/dqj168cdc/image/upload/v1480350297/cabin-image_dqxlwi.jpg) no-repeat center center;
    background-size: cover;
  }
  
  .eczar-card {
    background: url(https://res.cloudinary.com/dqj168cdc/image/upload/v1480522564/turtle-image_nblim1.jpg) no-repeat center center;
    background-size: cover;
  }
  
  .gentium-card {
    background: url(https://res.cloudinary.com/dqj168cdc/image/upload/v1480522983/penguin-image_dufrwg.jpg) no-repeat center center;
    background-size: cover;
  }